<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email-auth</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1> email-auth administration </h1>
    <ul>
        <li><a href="./emails">Manage emails</a></li>
        <li><a href="./users">Manage users</a></li>
    </ul>
</body>
